<mat-toolbar>
    <div>
        <button mat-icon-button (click)="onToggleSidenav()"  >
            <mat-icon>menu</mat-icon>
        </button>
    </div>
    <div class="" style="height: 100%; padding:5px 10px 0;">
        <a routerLink="#">
            <img src="../../../../assets/image/qualitylogo.png" height="40"/>
            
        </a>
    </div>

  
   
   
   
    <div fxFlex fxLayout fxLayoutAlign="end" >
        <ul fxLayout fxLayoutGap="15px" class="navigation.items">
            <li>
                <button mat-button>
                    <mat-icon class="mr-1">person_pin</mat-icon>
                    user name
                    
               </button>
               </li>

           
        </ul>
    </div>

</mat-toolbar>